<!DOCTYPE html>
<html lang="en">
<head>
    <title>@ViewBag.Title - Delicious Pastery</title>

    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/lib/fontawesome-free-5.15.3-web/css/all.min.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />
</head>
<body>
    <header class="container">
        <nav class="navbar navbar-dark bg-dark navbar-expand-md">
            <h2 class="navbar-brand"><i class="fas fa-store fa-spin"></i> Welcome Delicious Pastery</h2>
            <button class="navbar-toggler" data-toggle="collapse" data-target="#theMenu">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class=" collapse navbar-collapse" id="theMenu">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" asp-controlller="App" asp-action="Index">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controlller="App" asp-action="Contact">Contact</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controlller="App" asp-action="About">About</a>
                    </li>
                    @*<li class="nav-item">
                        <a class="nav-link" asp-controlller="App" asp-action="Shop">Shop</a>
                    </li>*@
                   
                </ul>
            </div>
        </nav>
    </header>
    <section class="container">
        <h2 class="text-center">@ViewBag.Title</h2>
        @RenderBody()
    </section>

    <footer class="container"><div class="text-center">&copy; 2021 - Delicious Pastery</div></footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/js/site.js" rel="stylesheet "></script>

    @RenderSection("Scripts", false)
</body>
</html>
