
<div class="col-md-6 offset-md-3">
    <div class="card card-body bg-light">
      <p>
          Delicious pasterys made from organic ingredients. you can enjoy all kind of pastery that you never forget. Now we started to take orders any time from 8 am to 5 pm seven days a week. call 800 pastery.
      </p>
    </div>
</div>
