@{
    //ViewBag.Title = "Delicious Bakery";
}


<div class="row">

    <div class="col-md-6">

        <div class="card card-body bg-light ">
            <img src="~/img/IMG_0825.jpg" />
            <p style="text-align:left">
                <strong>Buche de Noel</strong> is the French name for a Christmas cake shaped like a log. This one is a heavenly flourless chocolate cake rolled with chocolate whipped cream. Traditionally, Buche de Noel is decorated with confectioners' sugar to resemble snow on a Yule log.
            </p>
            <ul id="ulFont">
                <li>Price: $15.00</li>
            </ul>
            <form class="popupForm">
                <div>
                    <button type="submit" class="btn btn-primary">Buy</button>
                </div>
            </form>
        </div>


        <div class="card card-body bg-light ">
            <img src="~/img/IMG_1155.jpg" />
            <img src="~/img/IMG_1157.JPG" />
            <img src="~/img/IMG_1161.JPG" />
            <p style="text-align:left">
                <strong>Flan Patissier</strong> is a recipe from Richard Bertinet, flan patissier is the French equivalent of the custard tart. The delicious dessert is filled with simple, vanilla infused cream.
            </p>
            <ul id="ulFont">
                <li>Price: $20.00</li>
            </ul>

            <form class="popupForm">
                <div>
                    <button type="submit" class="btn btn-primary">Buy</button>
                </div>
            </form>
        </div>



        <div class="card card-body bg-light ">
            <img src="~/img/IMG_1333.jpg" />
            <img src="~/img/IMG_1332.JPG" />
            <p style="text-align:left">
                <strong>Pain aux raisins</strong> or escargot is a spiral pastry often eaten for breakfast in France. Its names translate as "raisin bread" and "snail", respectively. It is a member of the pâtisserie viennoise family of baked foods.
            </p>
            <ul id="ulFont">
                <li>Price: $2.99 each</li>
            </ul>
            <form class="popupForm">
                <div>
                    <button type="submit" class="btn btn-primary">Buy</button>
                </div>
            </form>
        </div>

        <div class="card card-body bg-light ">

            <img src="~/img/IMG_4140.png" />
            <p style="text-align:left">
                What is <strong>Baggette ?</strong> If you have eaten at a French restaurant, it's likely you have tried this iconic bread. Simply put, a baguette is a long, thin loaf of French bread that is characterized by a crisp crust and chewy center. The ingredients are pure and simple, consisting of water, flour, salt and yeast.
            </p>
            <ul id="ulFont">
                <li>Price: $1.99 each</li>
            </ul>
            <form class="popupForm">
                <div>
                    <button type="submit" class="btn btn-primary">Buy</button>
                </div>
            </form>
        </div>

        <div class="card card-body bg-light ">

            <img src="~/img/IMG_4210.png" />

            <p style="text-align:left">
                What is <strong>TCharrak</strong> is One of many delicious Algerian treats, these are slightly resemblant of powdered doughnuts, but will be way more impressive at any gathering.
            </p>
            <ul id="ulFont">
                <li>Price: $1.99 each</li>
            </ul>
            <form class="popupForm">
                <div>
                    <button type="submit" class="btn btn-primary">Buy</button>
                </div>
            </form>
        </div>

        <div class="card card-body bg-light ">
            <img src="~/img/IMG_3830.png" />
            <img src="~/img/IMG_3678.png" />

            <p style="text-align:left">
                What is <strong>Pain Swiss</strong>, Basically it’s brioche dough filled with pastry cream and a scattering of chocolate chips and baked to golden perfection! It’s the perfect weekend treat! When I lived in Paris, I didn’t have a washing machine in my apartment so Sunday mornings would be reserved for doing my laundry. While it was washing, I’d take advantage of the supermarkets being open until midday (this was a fairly new concept back then) to get my shopping done and I’d always pick myself up a pain suisse which I would enjoy with a coffee once my shopping was put away and my laundry complete. Though I didn’t indulge in breakfast pastries every morning (who can?), this was my weekend ritual that I looked forward to every week. At the time, with so many great pastries available on every corner, I never thought to make my own but now I don’t have them easily available, I set about figuring them out myself over the summer.
            </p>
            <ul id="ulFont">
                <li>Price: $1.99 each</li>
            </ul>
            <form class="popupForm">
                <div>
                    <button type="submit" class="btn btn-primary">Buy</button>
                </div>
            </form>
        </div>

        <div class="card card-body bg-light ">

            <img src="~/img/IMG_2433.png" />
            <p style="text-align:left">
                What is <strong>Makroud ?</strong>, Makroud (المقروض), makrout, maqroudh, or maqrouth, is a North African pastry that is popular in Algeria and Tunisia as well as in some cities of Morocco, Libya and Malta.
            </p>
            <ul id="ulFont">
                <li>Price: $1.99 each</li>
            </ul>
            <form class="popupForm">
                <div>
                    <button type="submit" class="btn btn-primary">Buy</button>
                </div>
            </form>
        </div>

        <div class="card card-body bg-light ">
            <img src="~/img/IMG_0296.png" />

            <p style="text-align:left">
                <strong>Brioche</strong> Brioche bread is a French bread, and a cross between a pastry and bread. This brioche is made with raisin.
            </p>
            <ul id="ulFont">
                <li>Price: $1.99 each</li>
            </ul>
            <form class="popupForm">
                <div>
                    <button type="submit" class="btn btn-primary">Buy</button>
                </div>
            </form>
        </div>

    </div>


    <div class="col-md-6">





        @*</div>*@
        @*</div>*@

        @*<div class="row">*@
        @*<div class="col-md-6">*@
        <div class="card card-body bg-light ">
            <img src="~/img/IMG_4174.png" />
            <h1>
            </h1>
            <p style="text-align:left">
                <strong>Quiche au Fromage</strong>, This lush, custardy, and creamy quiche only tastes like it took a culinary degree and hours to make. In truth, this quiche au fromage comes together in 10 minutes and only requires 5 ingredients. This quiche is a little untraditional: to streamline the recipe we add the crust at the end, broil it on top of the finished quiche, and serve it crust side up. To accurately measure the size of the pie crust simply place an empty Suvie pan on top of the dough and trace around the bottom edges with a knife. The most difficult part of this recipe might be choosing your favorite fromage to use!
            </p>
            <ul id="ulFont">
                <li>Price: $2.00 each</li>
            </ul>
            <form class="popupForm">
                <div>
                    <button type="submit" class="btn btn-primary">Buy</button>
                </div>
            </form>
        </div>


        <div class="card card-body bg-light ">

            <img src="~/img/IMG_3781.png" />
            <p style="text-align:left">
                <strong>Bleuberries Tart</strong>  are by far my favorite berry, and this has been true for as long as I can remember. Something about their color (blue), their size (tiny), and their taste (tart and sweet) really appeals to me. As luck would have it, much like blackcurrant in Burgundy, blueberries are the emblematic berry in the Vosges, where they grow by the bushload up the steep mountain slopes, and go by the name of brimbelles.
            </p>
            <ul id="ulFont">
                <li>Price: $1.99 each</li>
            </ul>
            <form class="popupForm">
                <div>
                    <button type="submit" class="btn btn-primary">Buy</button>
                </div>
            </form>
        </div>

        <div class="card card-body bg-light ">
            <img src="~/img/IMG_0295.png" />
            <h1>
            </h1>
            <p style="text-align:left">
                <strong>Mafin au raizin</strong>, Who doesn’t love a good Classic Oatmeal Raisin Muffin?These Classic Oatmeal Raisin Muffins were a request from my smallest. The picky eater, hater of all things flavourful, you know, that kid of mine. She’s lucky she’s so adorable, because feeding her sometimes makes me pull out my hair.
            </p>
            <ul id="ulFont">
                <li>Price: $1.99 each</li>
            </ul>
            <form class="popupForm">
                <div>
                    <button type="submit" class="btn btn-primary">Buy</button>
                </div>
            </form>
        </div>

        <div class="card card-body bg-light ">
            <img src="~/img/IMG_0125.JPG" />
            <p style="text-align:left">
                <strong>Chocolate Flan </strong>  A classic in French bakeries, flan pâtissier is a custard tart with puff pastry... and chocolate for this super indulgent version!
            </p>
            <ul id="ulFont">
                <li>Price: $1.99 each</li>
            </ul>
            <form class="popupForm">
                <div>
                    <button type="submit" class="btn btn-primary">Buy</button>
                </div>
            </form>
        </div>


        <div class="card card-body bg-light ">
            <img src="~/img/IMG_4672.png" />
            <h1>
            </h1>
            <p style="text-align:left">
                <strong>HALWAT TABAA</strong>in the Algerian language means baking mold – in this case a cookie/pastry cutter. It also can refer to a postage stamp.Tabaa are also known as Torno in Oran. Recipes for this double named cookie vary from place to place, family to family. Halwat Tabaa are best described as a type of shortbread or sablé, yet they are lighter and somewhat cake-like in texture. This lighter texture comes from cornflour and whipped/beaten eggs in the recipe. Using oil instead of butter probably helps the texture too.
            </p>
            <ul id="ulFont">
                <li>Price: $1.00 each</li>
            </ul>
            <form class="popupForm">
                <div>
                    <button type="submit" class="btn btn-primary">Buy</button>
                </div>
            </form>
        </div>

        <div class="card card-body bg-light ">
            <img src="~/img/IMG_2442.png" />
            <img src="~/img/IMG_1828.jpg" />
            <img src="~/img/IMG_4322.png" />
            <h1>
            </h1>
            <p style="text-align:left">
                <strong>Croissants</strong> are flaky, layered French pastry in the shape of a crescent. They're loved by everyone and for a good reason! We're talking cloud-like puff pastry, buttery, flaky, yeasty, chewy bread. It really is one of the most decadent things you can eat.
            </p>
            <ul id="ulFont">
                <li>Price: $1.50 each</li>
            </ul>
            <form class="popupForm">
                <div>
                    <button type="submit" class="btn btn-primary">Buy</button>
                </div>
            </form>
        </div>

        <div class="card card-body bg-light ">

            <img src="~/img/IMG_3909.png" />
            <h1>
            </h1>
            <p style="text-align:left">
                <strong>Date Cookies</strong> is stuffed with fragrant spiced date paste.
            </p>
            <ul id="ulFont">
                <li>Price: $1.50 each</li>
            </ul>
            <form class="popupForm">
                <div>
                    <button type="submit" class="btn btn-primary">Buy</button>
                </div>
            </form>
        </div>

        <div class="card card-body bg-light ">
            <img src="~/img/IMG_0356.png" />

            <p style="text-align:left">
                <strong>Apple Tart </strong> This classic French Apple Tart (Tarte aux Pommes) gives you a double dose of apples. It begins with a pre baked Sweet Pastry Crust (Pate Sucree) which has a wonderfully crisp texture and a sweet buttery flavor. Next, comes a layer of lightly sweetened apple sauce that is topped with artfully arranged apples slices. You will notice that the edges of the apples are beautifully caramelized and this is done by placing the baked tart briefly under the broiler (you can also use a handheld propane torch). The finishing touch is to glaze the apples with apricot preserves to give them an attractive sheen with the added bonus of keeping the apples wonderfully moist. I like to serve this French Apple Tart warm with vanilla ice cream or a dollop of softly whipped cream or creme fraiche.
            </p>
            <ul id="ulFont">
                <li>Price: $1.99 each</li>
            </ul>
            <form class="popupForm">
                <div>
                    <button type="submit" class="btn btn-primary">Buy</button>
                </div>
            </form>
        </div>
    </div>

</div>




